.ui.header {
  padding: 20px 10px 5px;
}

.ui.form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button.searchBtn {
  margin-left: 20px;
}

.ui.container.complement {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.firstTitle {
  color: #888888;
}

.searchMore {
  margin: 20px 0;
}

footer {
  text-align: center;
  border-top: 1px solid rgba(34, 36, 38, 0.15);
  padding: 10px 0;
}

.fixedBottom {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.rmvFixedBottom {
  position: none;
  bottom: none;
  left: none;
  right: none;
}
